<nav>
    <a href="/admin/home">Home</a>
    <br>
    <a href="/admin/produtos">Lista de produtos</a> | 
    <a href="/admin/produto/cadastro">Cadastrar produto</a>
    <br>
    <a href="/admin/clientes">Clientes</a>
    <br>
    <a href="/admin/pedidos">Pedidos</a>
    <br>
    <a href="/">Sair</a>
</nav>